PORT=

DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

PG_EMAIL=
PG_PASSWORD=

REDIS_URL=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_DB=

RABBITMQ_URL=
RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_MANAGEMENT_PORT=
RABBITMQ_USER=
RABBITMQ_PASSWORD=

MAIL_QUEUE_NAME=

MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=

BCRYPT_ROUNDS=

FRONTEND_URL=

JWT_SECRET=
JWT_EXPIRES_IN=